<div class="header">
  <div class="logo"></div>
</div>

<nav id="navbar">
  <a href="#services">Services</a>
  <a href="#packages">Packages</a>
  <a href="#our-story">Our Story</a>
  <a href="#contact-us">Contact Us</a>
</nav>

<div class="content">
  <div id="services" class="services section">
    <p class="section-header"><span>Services</span></p>

    <div class="column">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam ut mi et ante vehicula commodo vitae vitae mi.
        Proin sit amet aliquam dolor. In quis cursus dolor, ut suscipit libero.
        Donec convallis finibus diam, ut finibus purus auctor id.
        Cras commodo tellus sed ex mollis, sed congue libero rhoncus.
        Maecenas eget nunc maximus, vehicula justo non, euismod lorem.
        Sed in odio commodo mi efficitur convallis. Phasellus efficitur dictum hendrerit.
        Vestibulum id faucibus mauris. Nam interdum feugiat orci id vehicula.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam ut mi et ante vehicula commodo vitae vitae mi.
        Proin sit amet aliquam dolor. In quis cursus dolor, ut suscipit libero.
        Donec convallis finibus diam, ut finibus purus auctor id.
        Cras commodo tellus sed ex mollis, sed congue libero rhoncus.
        Maecenas eget nunc maximus, vehicula justo non, euismod lorem.
        Sed in odio commodo mi efficitur convallis. Phasellus efficitur dictum hendrerit.
        Vestibulum id faucibus mauris. Nam interdum feugiat orci id vehicula.
      </p>
    </div>
  </div>

  <div id="packages" class="packages section">
    <p class="section-header"><span>Packages</span></p>

    <div class="column">
      <p class="border">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam ut mi et ante vehicula commodo vitae vitae mi.
        Proin sit amet aliquam dolor. In quis cursus dolor, ut suscipit libero.
        Donec convallis finibus diam, ut finibus purus auctor id.
        Cras commodo tellus sed ex mollis, sed congue libero rhoncus.
        Maecenas eget nunc maximus, vehicula justo non, euismod lorem.
        Sed in odio commodo mi efficitur convallis. Phasellus efficitur dictum hendrerit.
        Vestibulum id faucibus mauris. Nam interdum feugiat orci id vehicula.
      </p>

      <p class="border">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam ut mi et ante vehicula commodo vitae vitae mi.
        Proin sit amet aliquam dolor. In quis cursus dolor, ut suscipit libero.
        Donec convallis finibus diam, ut finibus purus auctor id.
        Cras commodo tellus sed ex mollis, sed congue libero rhoncus.
        Maecenas eget nunc maximus, vehicula justo non, euismod lorem.
        Sed in odio commodo mi efficitur convallis. Phasellus efficitur dictum hendrerit.
        Vestibulum id faucibus mauris. Nam interdum feugiat orci id vehicula.
      </p>
    </div>

    <div class="column">
      <p class="border">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam ut mi et ante vehicula commodo vitae vitae mi.
        Proin sit amet aliquam dolor. In quis cursus dolor, ut suscipit libero.
        Donec convallis finibus diam, ut finibus purus auctor id.
        Cras commodo tellus sed ex mollis, sed congue libero rhoncus.
        Maecenas eget nunc maximus, vehicula justo non, euismod lorem.
        Sed in odio commodo mi efficitur convallis. Phasellus efficitur dictum hendrerit.
        Vestibulum id faucibus mauris. Nam interdum feugiat orci id vehicula.
      </p>

      <p class="border">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam ut mi et ante vehicula commodo vitae vitae mi.
        Proin sit amet aliquam dolor. In quis cursus dolor, ut suscipit libero.
        Donec convallis finibus diam, ut finibus purus auctor id.
        Cras commodo tellus sed ex mollis, sed congue libero rhoncus.
        Maecenas eget nunc maximus, vehicula justo non, euismod lorem.
        Sed in odio commodo mi efficitur convallis. Phasellus efficitur dictum hendrerit.
        Vestibulum id faucibus mauris. Nam interdum feugiat orci id vehicula.
      </p>
    </div>
  </div>

  <div id="our-story" class="packages section">
    <p class="section-header"><span>Our Story</span></p>

    <div class="column">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam ut mi et ante vehicula commodo vitae vitae mi.
        Proin sit amet aliquam dolor. In quis cursus dolor, ut suscipit libero.
        Donec convallis finibus diam, ut finibus purus auctor id.
        Cras commodo tellus sed ex mollis, sed congue libero rhoncus.
        Maecenas eget nunc maximus, vehicula justo non, euismod lorem.
        Sed in odio commodo mi efficitur convallis. Phasellus efficitur dictum hendrerit.
        Vestibulum id faucibus mauris. Nam interdum feugiat orci id vehicula.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam ut mi et ante vehicula commodo vitae vitae mi.
        Proin sit amet aliquam dolor. In quis cursus dolor, ut suscipit libero.
        Donec convallis finibus diam, ut finibus purus auctor id.
        Cras commodo tellus sed ex mollis, sed congue libero rhoncus.
        Maecenas eget nunc maximus, vehicula justo non, euismod lorem.
        Sed in odio commodo mi efficitur convallis. Phasellus efficitur dictum hendrerit.
        Vestibulum id faucibus mauris. Nam interdum feugiat orci id vehicula.
      </p>
    </div>
  </div>


  <div id="contact-us" class="packages section">
    <p class="section-header"><span>Contact Us</span></p>

    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam ut mi et ante vehicula commodo vitae vitae mi.
        Proin sit amet aliquam dolor. In quis cursus dolor, ut suscipit libero.
        Donec convallis finibus diam, ut finibus purus auctor id.
        Cras commodo tellus sed ex mollis, sed congue libero rhoncus.
        Maecenas eget nunc maximus, vehicula justo non, euismod lorem.
        Sed in odio commodo mi efficitur convallis. Phasellus efficitur dictum hendrerit.
        Vestibulum id faucibus mauris. Nam interdum feugiat orci id vehicula.
      </p>

      <div class="contact-section">

      </div>
    </div>
  </div>
</div>
