// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: "Lato", "Avenir Next", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  background-image: asset-url("background.svg");
  height: 300px;
  background-size: cover;
  background-repeat-y: no-repeat;

  .logo {
    background-image: asset-url("logo.png");
    height: 300px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
  }
}

.company-name {
  text-align: center;
  font-size: 50px;
  margin: 0 auto 10px;
  font-weight: 300;
  color: #4A90E2;
}

nav {
  background-color: #4A90E2;
  display: flex;
  justify-content: center;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  z-index: 1000;

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

  &.sticky + .content {
    padding-top: 50px;
  }

  a {
    color: #FFFFFF;
    line-height: 50px;
    padding: 0 40px;
    font-size: 14px;
  }
}

.section-header {
  font-size: 25px;
}

.section {
  margin: 10px 30px;
}

.section-header {
  line-height: 0.5;
  text-align: center;

  span {
    display: inline-block;
    position: relative;
    font-size: 45px;
    font-family: "Shadows Into Light";
    color: #ff00ad;

    &:before, &:after {
      content: "";
      position: absolute;
      // height: 5px;
      border-top: 0 solid transparent;
      border-right: 0 solid transparent;
      border-left: 0 solid transparent;
      border-bottom: 30px solid transparent;
      border-image: asset-url("border.svg") 30 round;
      -webkit-border-image: asset-url("border.svg") 30 round; /* Safari 3.1-5 */
      -o-border-image: asset-url("border.svg") 30 round; /* Opera 11-12.1 */
      top: -10px;
      width: 200px;
    }

    &:before {
      right: 100%;
      margin-right: 15px;
    }

    &:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}

.services {
  color: #9370db;

  .services-info {
    margin: 0 100px;
  }
}

.packages {
  .border {
    margin: 15px 100px;
    border: 50px solid transparent;
    padding: 15px;
    border-image: asset-url("border.svg") 30 round;
    -webkit-border-image: asset-url("border.svg") 30 round; /* Safari 3.1-5 */
    -o-border-image: asset-url("border.svg") 30 round; /* Opera 11-12.1 */
  }
}

.package-title {
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  font-weight: 300;
  color: #4A90E2;
  font-family: "Shadows Into Light";
}

.package-subtitle {
  text-align: center;
  font-size: 15px;
  margin: 0 auto 10px;
  font-weight: 300;
  color: #4A90E2;
}

.package-info {
  margin: 0 15px;
  color: #9370db;
}

.column {
  display: flex;
  justify-content: center;
}

.contact-section {
  form {
    text-align: center;
  }
  
  input {
    display: block;
    margin: 10px auto;
    width: 50%;
    height: 50px;
    border: 2px solid #4A90E2;
    font-size: 16px;
  }

  .submit {
    background-color: #4A90E2;
    color: white;
    font-size: 30px;
    height: 50px;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;

    &:hover {
      background-color: #4A90FF;
    }
  }

  textarea {
    display: block;
    margin: 10px auto;
    width: 50%;
    height: 75px;
    border: 2px solid #4A90E2;
    font-size: 16px;
  }
}

.flash-messages {
  position: absolute;
  z-index: 10000;
  left: 20px;
  right: 20px;
  top: 70px;
}

.flash-message {
  position: relative;
  padding: 15px 20px;
  margin: 10px 100px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}

.flash-message.nonclosable .flash-message-close {
  display: none;
}

.flash-message-close {
  float: right;
  cursor: pointer;
}

.flash-message.success {
  background-color: #4A90E2;
}

.flash-message.notice, .flash-message.info {
  background-color: #77C3E8;
}

.flash-message.error, .flash-message.danger {
  background-color: #dd5749;
}

.flash-message.warning, .flash-message.alert {
  background-color: #FF9800;
}

.orlando {
  background-image: asset-url("orlando.png");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 15px;
}

footer {
  background-color: #4A90E2;
  height: 60px;

  p {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    line-height: 60px;
    margin: auto;
  }
}